@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
} 
    body{
        background-image: linear-gradient(to right, #FFC085 40% ,#FFB46C 60% );
    }

    main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px, 5px, 15px, black;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1{ 
        color: #2796B3;
        text-align: center;


        
    }
    h2{
        color: #02303b;

    }

    p{
        text-align: justify;
    }